<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASMOUAL JIGSAW</title>
    <link rel="stylesheet" href="../static/styles/asmoual_jigsaw_styles.css">
    <script src="https://cdn.tailwindcss.com"></script>

<body>

    <!-- Hamburger Icon -->
    <div class="fixed top-0 hamburger right-4 md:left-[95%] items-start z-[9999]">
        <input class="hidden" id="label-check" type="checkbox" checked>
        <label for="label-check" class="block cursor-pointer relative w-8 h-8 md:w-10 md:h-10 mr-5">
            <div class="line1 absolute bg-[#BE63F9] w-11 h-[5px] transition duration-300 mt-[10px]"></div>
            <div class="line2 absolute bg-[#BE63F9] w-11 h-[5px] transition duration-300 mt-[22px]"></div>
            <div class="line3 absolute bg-[#BE63F9] w-11 h-[5px] transition duration-300 mt-[34px]"></div>
        </label>
    </div>

</body>
</html>